* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
}

.navItems {
  display: flex;
}

.navItem {
  margin-right: 2rem;
}

main {
  padding: 2rem 5rem;
}

.book {
  margin-bottom: 1rem;
}

.addForm {
  padding: 0 5rem;
}
